<!--<h1>Formula 1</h1>-->

<!--<app-season-list />-->
<!--<app-round-list />-->
<!--<app-result-table />-->


<div>
  <div class="container">
    <div class = "outer-layer">
      <div class = "left">
        <h1>Formula 1</h1>
        <app-season-list></app-season-list>
        <app-round-list></app-round-list>
      </div>
      <div class = "center">
        <app-result-podium></app-result-podium>
        <app-result-table />
      </div>
      <div class = "right">
        <app-first-place />
      </div>
    </div>
  </div>
</div>

